body {
    background: #333;
    color: white;
    font-size: 32px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
}
#content {
    margin: 48px auto 0px auto;
    width: 800px;
    text-align: justify;
    outline: none;
}
